h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: right;
}

body{
    text-align: justify;

}

.center {
    margin: auto;
    width: 70%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.fields {
    padding: 10px;
    width: 90%;



}
fieldset{
      border: 3px solid grey;
    text-align: center;

}
.plot{

    width:70%;
    height:800px;
}

.input_field{
    width:100px;
    text-align: center;
}
.txt_label{
    width:200px;
    color:black;
    font-family: Ubuntu;


    font-size:15px;
}
.band_info{
    color:black;
    font-family: Ubuntu;
    font-size: 12px;
}
.combo_list{
    width:200px;
    vertical-align: middle;
    text-align:center;

}
.button{

    font-family: Ubuntu;
    font-weight: bolder;
    text-align: center;

}
.intro{
    text-align:left;
}
html{
    background-color:black;
    margin:auto;

}