
{% extends "base.html" %}

{% block content %}
<form method="POST">
{{ form.csrf_token }}

    <div class="fields" >
        <p>{{ form.start_freq.label }}
            {{ form.start_freq(default=2000) }}</p>
        <p>
            {{ form.stop_freq.label }}
            {{ form.stop_freq(default=600000) }}
        </p>

            {{ form.temp.label }}
            {{ form.temp}}
    </div>
    <div style="height=25%">
        {{ form.molecules.label }}{{ form.molecules(size=20) }}
    </div>

    {{ form.submit() }}

</form>


{% endblock %}